<IfModule mod_rewrite.c>
RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^404$ 404.php [L,NC]
RewriteRule ^about$ about.php [L,NC]
RewriteRule ^contact$ contact.php [L,NC]
RewriteRule ^privacy-policy$ privacy-policy.php [L,NC]
RewriteRule ^terms-of-service$ terms-of-service.php [L,NC]
RewriteRule ^([^\.]+)$ show-names.php?genre=$1 [L,NC]
</IfModule>
